#footer {
  background-color: var(--v2-main-bg);
  bottom: 0;
  width: 100%;
  height: var(--v2-footer-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 80px;
  border-top: 1px solid grey;
  div {
    width: calc(100% / 4);
  }
  .logo-container {
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .img-container {
      height: 100%;
      width: auto;
      aspect-ratio: 1;
      img {
        object-fit: contain;
      }
    }
  }
  .socials {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    align-items: center;
    padding: 1% 8%;
    a {
      color: white;
      font-size: 1.5rem;
    }
  }
  .navbar {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 2vh;
    a {
      text-decoration: none;
      color: white;
      font-size: 1rem;
      font-family: var(--v2-font-hirosh);
    }
  }
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    .img-container {
      height: auto;
      width: 100%;
      aspect-ratio: 16 / 2;
      img {
        object-fit: contain;
      }
    }
    span {
      color: white;
      text-align: right;
      padding: 0px 10px;
      font-family: var(--v2-font-poppins);
      font-size: 0.8rem;
    }
  }
}
@media only screen and (max-width: 900px) {
  #footer {
    overflow: hidden;
    padding: 2vh 5vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 55vh;
    & > div {
      width: 100%;
    }
    .logo-container {
      height: 25%;
      // width: 30vh;
      img {
        object-fit: cover;
      }
    }
    .socials {
      padding: 0px 8vw;
      margin: 3vh 2vw;
      row-gap: 2vh;
      height: 25%;
      a {
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .navbar {
      gap: 1vw;
      margin: 2vh 1vw;
      row-gap: 2vh;
      height: 25%;
      a {
        font-size: 1.1rem;
      }
    }
    .about {
      margin: 2vh 1vw;
      row-gap: 1vh;
      height: 25%;
      .img-container {
        height: 10vh;
        width: 18vw;
        img {
          object-fit: contain;
        }
      }
      span {
        height: auto;
        padding: 0px 3vw;
        font-size: 0.8rem;
        text-align: center;
      }
    }
  }
}
