#footer {
  display: flex;
  width: 100%;
  height: var(--footer-height);
  overflow: hidden;
  bottom: 0;
  justify-content: space-between;
  background-color: rgba(215, 215, 255, 0.85);
  align-items: center;
  padding: 3%;
  color: black;
  margin-top: 3%;
  cursor: auto;
  * {
    cursor: auto;
  }

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  a {
    color: black;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    * {
      cursor: pointer;
    }
  }
  a:hover {
    color: white;
    text-shadow: #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px;
  }

  .footrule {
    width: 1px;
    height: 90%;
    border-radius: 1px;
    background-color: black;
  }
  .intro {
    width: 30% !important;
  }

  span {
    font-weight: 500;
    color: rgb(50, 50, 50);
    margin-bottom: 15px;
    cursor: default;
  }
  p {
    color: black;
  }

  .big-width {
    width: 15%;
  }

  .icons div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .icons div a {
    margin: 7%;
  }
  .icons svg {
    height: 2em;
    width: 2em;
  }
  .icons path {
    color: black;
    transition: all 0.3s ease-in-out;
  }
  .icons svg:hover path {
    color: white;
    filter: drop-shadow(0 0 20px black);
  }
  .imgContainer {
    position: relative;
    width: 25%;
    height: 25px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 900px) {
  #footer {
    // height: 40vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0%;
    width: 100%;
    .getInTouch,
    .sitemap,
    .footrule {
      display: none;
    }
    .icons {
      height: 40%;
    }
    .intro {
      height: 50%;
      width: 100% !important;
      align-items: center;
      p {
        width: 90%;
        text-align: center;
      }
    }
  }
}
