#event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .imgContainer {
    position: relative;
    height: 17vw;
    width: 17vw;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 25px;
    img {
      object-fit: cover;
    }
  }
  a {
    display: unset;
    font-weight: 500;
    color: rgb(179, 0, 255);
    text-shadow: rgb(0, 0, 0) 0 0 1px;
  }
  & > h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 25px;
  }
  & > p {
    width: 80%;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 25px;
  }
  .date {
    font-size: x-large;
  }
  .event-content {
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 248, 255, 0.85);
    width: 90%;
    padding: 6%;
    border-radius: 20px;
    cursor: default;
    h1,
    h2,
    h3,
    p,
    em,
    strong,
    u,
    li,
    code {
      color: black;
    }
    h1,
    h2,
    h3,
    blockquote,
    p {
      margin-bottom: 20px;
    }
    strong,
    em,
    u,
    li,
    code {
      font-size: inherit !important;
    }
    h1 {
      font-size: 2.3rem;
      font-weight: 700;
    }
    strong {
      font-weight: 600;
    }
    h2 {
      font-size: 1.8rem;
      font-weight: 600;
      margin-left: 10px;
    }
    h3 {
      margin-left: 20px;
      font-size: 1.5rem;
      font-weight: 600;
    }
    p {
      font-size: 1.5rem;
      margin-left: 20px;
    }
    li {
      margin-left: 20px;
    }
    blockquote {
      margin: 0%;
      font-style: italic;
    }
    code {
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
    }
    p,
    em,
    strong {
      font-size: 1.2rem;
      line-height: 2rem;
    }
    img {
      border-radius: 15px;
    }
    img[alt~="small-width"] {
      width: 40%;
    }
    img[alt~="medium-width"] {
      width: 50%;
    }
    img[alt~="big-width"] {
      width: 65%;
    }
    img[alt~="x-small-width"] {
      width: 25%;
    }
    img {
      &[data-size*="x-small"] {
        width: 30%;
        height: fit-content;
        object-fit: contain;
      }
      &[data-size*="small"] {
        width: 47.5%;
        height: fit-content;
        object-fit: contain;
      }
      &[data-size*="medium"] {
        width: 65%;
        height: fit-content;
        object-fit: contain;
      }
      &[data-size*="large"] {
        width: 82.5%;
        height: fit-content;
        object-fit: contain;
      }
      &[data-size*="x-large"] {
        width: 100%;
        height: fit-content;
        object-fit: contain;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  #event {
    & > h1 {
      font-size: 2.2rem;
      margin-bottom: 15px;
    }
    & > p {
      font-size: medium;
    }
    .imgContainer {
      height: 170px;
      width: 170px;
    }
    .date {
      font-size: medium;
    }
    .event-content {
      padding-top: 5%;
      padding-left: 3%;
      padding-right: 3%;
      padding-bottom: 2%;
      h1 {
        line-height: 0;
      }
      p,
      em,
      strong {
        font-size: medium;
        line-height: 2rem;
      }
      img {
        margin-top: 15px;
      }
      img[alt~="small-width"] {
        width: 50%;
      }
      img[alt~="medium-width"] {
        width: 60%;
      }
      img[alt~="big-width"] {
        width: 80%;
      }
      img[alt~="x-small-width"] {
        width: 50%;
      }
    }
  }
}
