#Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw;
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 5rem;
      font-weight: 700;
      text-align: center;
      margin: 0;
    }
    p {
      width: 75%;
      text-align: center;
      margin: 3rem auto;
      font-size: 1.5rem;
    }
    button {
      background: transparent;
      border: 1px solid white;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;
      transition: all 0.3s ease;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-size: 1rem;
      &:hover {
        background: white;
        color: black;
        * {
          cursor: pointer;
          color: black;
        }
      }
    }
  }
  .anims {
    width: 100%;
    span {
      font-size: 1.5rem;
      font-weight: 600;
    }
    .anims-container {
      margin-top: 2rem;
      display: flex;
      justify-content: space-evenly;
      & > div.anim {
        width: calc(100% / 4);
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  #Home {
    .intro {
      h1 {
        font-size: 2rem;
      }
      p {
        width: 90%;
        font-size: 1rem;
      }
    }
    .anims {
      margin-top: 4vh;
      span {
        font-size: 1.3rem;
        width: 100%;
        display: flex;
        text-align: center;
      }
      .anims-container {
        & > div.anim {
          h2 {
            font-size: 1rem;
            text-align: center;
          }
        }
      }
    }
  }
}
