#members {
  h1 {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
  }
  padding: 0 5vw;
  .all-memb-container {
    margin: 5vh 0;
    h1 {
      font-size: 3rem;
      margin-bottom: 3vh;
      text-align: start;
    }
    .cards-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 5vw;
      .card {
        display: flex;
        align-self: center;
        justify-self: center;
        flex-direction: column;
        .img-container {
          justify-self: center;
          align-self: center;
          width: 15vw;
          aspect-ratio: 4 / 5;
          border: 2px solid white;
          border-radius: 15px;
          img {
            object-fit: cover;
          }
        }
        .socials-container {
          h3 {
            font-size: 1.4rem;
            font-weight: 400;
            margin: 0 5px;
          }
          margin: 2vh 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          a {
            width: 25px;
            aspect-ratio: 1;
            &:hover {
              filter: drop-shadow(0 0 2px rgb(102, 102, 102)) drop-shadow(0 0 2px rgb(212, 212, 212));
            }
          }
        }
        &:hover {
          .img-container {
            img {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
  @media only screen and (min-width: 900px) and (max-width: 1200px) {
    .all-memb-container {
      .cards-container {
        grid-template-columns: repeat(3, 1fr);
        .card {
          .img-container {
            width: 20vw;
          }
          .socials-container {
            h3 {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 900px) {
    .all-memb-container {
      height: auto;
      .cards-container {
        grid-template-columns: repeat(2, 1fr);
        // height: 300px;
        .card {
          .img-container {
            width: 30vw;
            aspect-ratio: 1;
          }
        }
        .socials-container {
          h3 {
            font-size: 0.9rem !important;
          }
        }
      }
    }
  }
}
