@font-face {
  font-family: billy hunter;
  src: url("./fonts/billyhunter.otf");
}
#v {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100%;
  @include flex($center: true, $column: true);
  & > h1 {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  & > h1,
  & > p,
  & > span {
    font-family: "billy hunter", cursive;
  }
  & > p,
  & > span {
    font-size: 2rem;
  }
  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
    margin: 50px 0;
    gap: 30px;
    a {
      height: 37.5vh;
      width: 100%;
      @include flex($center: false, $column: true);
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 0 5px white;
      background-color: inherit;
      transition: all 0.3s ease;
      .img-container {
        width: 100%;
        height: 80%;
      }
      span {
        font-family: monospace;
        font-size: 0.9rem;
        width: 100%;
        margin-bottom: 5%;
        text-align: center;
        transition: all 0.3s ease;
      }
      &:hover {
        box-shadow: 0 0 15px white;
        img {
          scale: 1.1;
        }
        filter: grayscale(0%);
        span {
          font-size: 1rem;
        }
      }
    }
    &:hover a:not(:hover) {
      filter: grayscale(100%);
    }
  }
}
@media only screen and (max-width: 900px) {
  #v {
    h1 {
      font-size: 2rem;
    }
    & > p,
    & > span {
      font-size: 0.8rem;
    }
    .cards-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 95%;
      margin: 5vh 0;
      padding: 0 2vw;
      gap: 5vw;
      a {
        span {
          font-size: 0.8rem;
        }
      }
    }
  }
}
