//v3
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@0;1&family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap");

@font-face {
  font-family: hirosh;
  src: url("./fonts/hirosh.ttf");
}
@font-face {
  font-family: kato;
  src: url("./fonts/kato.ttf");
}
.v1{
 //v1 needs variables
 --v1-main-bg:black;
  --footer-height: 35vh;
  --header-height:15%;
}
.v2{
  //v2 variables
  --main-bg: rgb(3, 1, 1);
  --font-poppins: "Poppins", sans-serif;
  --color1: rgb(254, 196, 70);
  --color2: rgb(42, 205, 210);
  --color3: rgb(234, 93, 172);
  --color4: rgb(114, 113, 240);
  --font-color-main: white;
  --font-hirosh: "hirosh";
  --font-kato: "kato";
  --header-height:8.5vh;
  --footer-height: 20vh;
}
.v3{
  //v3 variables
  --accent-color: #150734;
  --primary-color: #de2bfc;
  --secondary-color: #00dbde;
  --tertiary-color: #c2a4df;
  // --secondary-color-rgb: rgb(0, 219, 222);
  --font-sans-serif-1: "Poppins", sans-serif;
  --font-sans-serif-2: "Orbitron", sans-serif;
  --header-height:10vh;
  --footer-height:22vh;
 
}
